@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Top Bar */
.page-header {
    background-color: #2e5e3a;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}
.title {
    color: white;
    font-size: 40px;
    font-family: 'Big Shoulders Inline', cursive; 
    text-decoration: none;
    display: flex;
    margin-left: 10px;;
}



/* Main Content */
.container {
    padding: 30px 20px;
    max-width: 900px;
    margin: auto;
    text-align: left;
}

.container h2 {
    color:#2e5e3a;
    margin-bottom: 20px;
}

.subtitle {
    color: #555;
    margin-bottom: 30px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card h3 {
    margin-top: 0;
    color:#2e5e3a;
}

.card p {
    margin-top: 0;
    color: #555;
}

.card:hover {
    background-color: #f0f5f0;
}

