/* Top Bar */
.top-bar {
    background-color: #2e5e3a;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

.top-bar h1 {
    font-size: 20px;
    margin: 0;
}

.logout {
    color: white;
    text-decoration: none;
    font-size: 14px;

}

/* Main Content */
.container {
    padding: 30px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.container h2 {
    color:#2e5e3a;
    margin-bottom: 20px;
}

.subtitle {
    color: #555;
    margin-bottom: 30px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card h3 {
    margin-top: 0;
    color:#2e5e3a;
}

.card p {
    margin-top: 0;
    color: #555;
}

.card:hover {
    background-color: #f0f5f0;
}

