@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');

table{
    font-family: "Exo", sans-serif;
    width: 30%;
}

th{
    background-color: rgb(23, 23, 109);
    color: white;
}

td,th{
    padding: 10px;
}

.item_table tr:nth-child(even){
    background-color: rgb(23, 23, 109);
    color: white;
}

.item_table tr:nth-child(odd){
    background-color: rgb(65, 72, 139);
    color: white;
}

.page-header{
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1{
    float: left;
    font-size: 30pt;
    text-decoration: none;
}

.top-menu{
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}